## Natural Language to SQL
1. Building a basic NL2SQL Model
2. Adding few-shot examples
3. Dynamic few-shot example selection
4. Dynamic Relevant table selection
5. Customizing prompts
6. Adding memory to the chatbots so that it can answer follow up questions related to DB

### Building a Basic NL2SQL Model

In [1]:
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from langchain_openai import ChatOpenAI
from dotenv import load_dotenv

In [2]:
# load the environment variables from .env file
load_dotenv()

True

In [3]:
# Connect the database 
db = SQLDatabase.from_uri("sqlite:///db/company.sqlite3")

/Users/jithinjose/Documents/TechincalProjects/PythonProjects/Project Langchain/NL2SQL/.conda/lib/python3.9/site-packages/langchain_community/utilities/sql_database.py:123: SAWarning: Could not instantiate type <class 'sqlalchemy.sql.sqltypes.SMALLINT'> with reflected arguments ['6']; using no arguments.
  self._metadata.reflect(

In [4]:
# get the basic info from the database and tables
print(db.dialect)
print(db.get_usable_table_names())
print(db.table_info)

sqlite
['customers', 'employees', 'offices', 'orderdetails', 'orders', 'payments', 'productlines', 'products']

CREATE TABLE customers (
	"customerNumber" INTEGER,
	"customerName" VARCHAR(50) NOT NULL,
	"contactLastName" VARCHAR(50) NOT NULL,
	"contactFirstName" VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	"addressLine1" VARCHAR(50) NOT NULL,
	"addressLine2" VARCHAR(50) DEFAULT NULL,
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50) DEFAULT NULL,
	"postalCode" VARCHAR(15) DEFAULT NULL,
	country VARCHAR(50) NOT NULL,
	"salesRepEmployeeNumber" INTEGER DEFAULT NULL,
	"creditLimit" DECIMAL(10, 2) DEFAULT NULL,
	PRIMARY KEY ("customerNumber"),
	FOREIGN KEY("salesRepEmployeeNumber") REFERENCES employees ("employeeNumber")
)

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	"employeeNumber" INTEGER,
	"lastName" VARCHAR(50) NOT NULL,
	"firstName" VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	"officeCode" VARCHAR(10) NOT NULL,
	"reportsTo" INTEGER DEFAULT NULL,
	"jobTitle" VARCHAR(50) NOT NULL,
	PRIMARY KEY ("employeeNumber"),
	FOREIGN KEY("reportsTo") REFERENCES employees ("employeeNumber"),
	FOREIGN KEY("officeCode") REFERENCES offices ("officeCode")
)

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	"officeCode" VARCHAR(10),
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	"addressLine1" VARCHAR(50) NOT NULL,
	"addressLine2" VARCHAR(50) DEFAULT NULL,
	state VARCHAR(50) DEFAULT NULL,
	country VARCHAR(50) NOT NULL,
	"postalCode" VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY ("officeCode")
)

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	"orderNumber" INTEGER,
	"productCode" VARCHAR(15) NOT NULL,
	"quantityOrdered" INTEGER NOT NULL,
	"priceEach" DECIMAL(10, 2) NOT NULL,
	"orderLineNumber" SMALLINT NOT NULL,
	PRIMARY KEY ("orderNumber", "productCode"),
	FOREIGN KEY("orderNumber") REFERENCES orders ("orderNumber"),
	FOREIGN KEY("productCode") REFERENCES products ("productCode")
)

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	"orderNumber" INTEGER,
	"orderDate" DATE NOT NULL,
	"requiredDate" DATE NOT NULL,
	"shippedDate" DATE DEFAULT NULL,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	"customerNumber" INTEGER NOT NULL,
	PRIMARY KEY ("orderNumber"),
	FOREIGN KEY("customerNumber") REFERENCES customers ("customerNumber")
)

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	"customerNumber" INTEGER,
	"checkNumber" VARCHAR(50) NOT NULL,
	"paymentDate" DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY ("customerNumber", "checkNumber"),
	FOREIGN KEY("customerNumber") REFERENCES customers ("customerNumber")
)

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	"productLine" VARCHAR(50),
	"textDescription" VARCHAR(4000) DEFAULT NULL,
	"htmlDescription" TEXT,
	PRIMARY KEY ("productLine")
)

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None
*/


CREATE TABLE products (
	"productCode" VARCHAR(15),
	"productName" VARCHAR(70) NOT NULL,
	"productLine" VARCHAR(50) NOT NULL,
	"productScale" VARCHAR(10) NOT NULL,
	"productVendor" VARCHAR(50) NOT NULL,
	"productDescription" TEXT NOT NULL,
	"quantityInStock" SMALLINT NOT NULL,
	"buyPrice" DECIMAL(10, 2) NOT NULL,
	"MSRP" DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY ("productCode"),
	FOREIGN KEY("productLine") REFERENCES productlines ("productLine")
)

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [5]:
# define llm
llm = ChatOpenAI(model="gpt-3.5-turbo", temperature=0, verbose=True)

In [6]:
# Generate query chain
generate_query = create_sql_query_chain(llm, db)

# invoke the chain to get the query
query = generate_query.invoke({"question": "What is the price of 1968 Ford Mustang like car?"})
# print("--- Generated Query ----")
print(query)
# print("--------------")

--- Generated Query ----
SELECT "buyPrice", "MSRP"
FROM products
WHERE "productName" LIKE '%1968 Ford Mustang%'
--------------

In [7]:
execute_query = QuerySQLDataBaseTool(db=db)
result = execute_query.invoke(query)
print(result)

[(95.34, 194.57)]

In [8]:
# Define chain using LCEL
chain = generate_query | execute_query
chain.invoke({"question": "How many orders are there?"})

'[(326,)]'

In [9]:
# View the underhood prompt from the chain
chain.get_prompts() [0].pretty_print()

You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use date('now') function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [10]:
# Rephrase the answer
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question
    
    Question: {question}
    SQL Query: {query}
    SQL Result: {result}
    Answer: """
)

rephrase_answer = answer_prompt | llm | StrOutputParser()
chain = (
    RunnablePassthrough.assign(query=generate_query).assign(result=itemgetter("query") | execute_query) | rephrase_answer
)

chain.invoke({"question": "How many orders are there?"})

'There are a total of 326 orders.'

### Adding few-shot examples

In [11]:
examples = [
    {
        "input": "List all customers in France with a credit limit over 20,000.",
        "query": "SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;"
    },
    {
        "input": "Get the highest payment amount made by any customer.",
        "query": "SELECT MAX(amount) FROM payments;"
    },
    {
        "input": "Show product details for products in the 'Motorcycles' product line.",
        "query": "SELECT * FROM products WHERE productLine = 'Motorcycles';"
    },
    {
        "input": "Retrieve the names of employees who report to employee number 1002.",
        "query": "SELECT firstName, lastName FROM employees WHERE reportsTo = 1002;"
    },
    {
        "input": "List all products with a stock quantity less than 7000.",
        "query": "SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;"
    },
    {
     'input':"what is price of `1968 Ford Mustang`",
     "query": "SELECT `buyPrice`, `MSRP` FROM products  WHERE `productName` = '1968 Ford Mustang' LIMIT 1;"
    }
]

In [15]:
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder, FewShotChatMessagePromptTemplate,PromptTemplate

example_prompt = ChatPromptTemplate.from_messages(
    [
        ("human","{input}\nSQLQuery:"),
        ("ai","{query}")
    ]
)
few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    examples=examples,
    # input_variables=["input", "top_k"],
    input_variables=["input"],
)

# print(few_shot_prompt.format(input="How many products are there?", top_k=3, table_info=""))
print(few_shot_prompt.format(input="How many products are there?"))

Human: List all customers in France with a credit limit over 20,000.
SQLQuery:
AI: SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;
Human: Get the highest payment amount made by any customer.
SQLQuery:
AI: SELECT MAX(amount) FROM payments;
Human: Show product details for products in the 'Motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: Retrieve the names of employees who report to employee number 1002.
SQLQuery:
AI: SELECT firstName, lastName FROM employees WHERE reportsTo = 1002;
Human: List all products with a stock quantity less than 7000.
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
Human: what is price of `1968 Ford Mustang`
SQLQuery:
AI: SELECT `buyPrice`, `MSRP` FROM products  WHERE `productName` = '1968 Ford Mustang' LIMIT 1;

### Dynamic Few-shot example selection

In [18]:
from langchain_community.vectorstores import Chroma
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_openai import OpenAIEmbeddings

vectorstore = Chroma()
vectorstore.delete_collection()
example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples=examples,
    embeddings=OpenAIEmbeddings(),
    vectorstore_cls=vectorstore,
    k=2,
    input_keys=["input"]
)

example_selector.select_examples({"input": "how many employees we have?"})
# example_selector.select_examples({"input": "how many employees"})

[{'input': 'Retrieve the names of employees who report to employee number 1002.',
  'query': 'SELECT firstName, lastName FROM employees WHERE reportsTo = 1002;'},
 {'input': 'List all customers in France with a credit limit over 20,000.',
  'query': "SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;"}]

In [19]:
# modify the few_shot_prompt with example selector
few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    example_selector=example_selector,
    input_variables=["input","top_k"]
)

print(few_shot_prompt.format(input="How many products are there?"))

Human: List all products with a stock quantity less than 7000.
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
Human: Show product details for products in the 'Motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';

### Customizing the Prompts

In [20]:
final_prompt = ChatPromptTemplate.from_messages([
    ("system", "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries."),
    few_shot_prompt,
    ("human","{input}"),

])

print(final_prompt.format(input="How many products are there?", table_info="some table info"))

System: You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.

Here is the relevant table info: some table info

Below are a number of examples of questions and their corresponding SQL queries.
Human: List all products with a stock quantity less than 7000.
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 7000;
Human: Show product details for products in the 'Motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: How many products are there?

In [21]:
generate_query = create_sql_query_chain(llm=llm, db=db, prompt=final_prompt)
chain = (
    RunnablePassthrough.assign(query=generate_query).assign(result=itemgetter("query") | execute_query ) | rephrase_answer
    )

chain.invoke({"question": "How many customers with credit limit more than 50000"})

'There are 85 customers with a credit limit greater than 50000.'

### Dynamic Table Selection